.indexmodul-1 {
    grid-row: 28 / 54;
    grid-column: 1 / 31;
}

.indexmodul-2 {
    grid-row: 28 / 54;
    grid-column: 31 / 61;
}

.indexmodul-3 {
    grid-row: 28 / 54;
    grid-column: 61 / 81;
}